@charset "UTF-8";
@use './breakpoint' as *;

////////////////////////////
// 変数
////////////////////////////

:root {
  --mainColor: red;
  --breakpoint: #{map.get($breakpoints, sp_pc)};
  --commonFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo,
    sans-serif;
}
