@charset "UTF-8";
@use 'sass:math';

////////////////////////////
// z-index
////////////////////////////

// z-indexが10以上の場合 設定
$zIndex: (
  headerNav: 102,
  headerOpen: 101,
  headerLogo: 100,
  localNav: 10,
);

@function zIndex($key) {
  @return map.get($zIndex, $key);
}
