<!-- header -->
<header class="l-header">
  <p class="l-header__logo">
    <a href='/'>
      <%- include('../svg/logo_black.svg'); -%>
    </a>
  </p>
  <nav class="l-header__nav">
    <ul>
      <li><a href='/company/'>company</a></li>
      <li><a href='/news/'>news</a></li>
      <li><a href='/blog/'>blog</a></li>
      <li><a href='/recruit/'>recruit</a></li>
      <li><a href='/contact/'>contact</a></li>
    </ul>
  </nav>
</header>
<!--/ header -->
