@charset "UTF-8";
////////////////////////
// footer
////////////////////////

@use '../global' as *;

.l-footer {
  position: relative;
  background: #000;
  padding: 50px 0 0;
  flex: none;
}

.l-footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 30px;
}

.l-footer__main {
  margin: 0 0 0 50px;
  width: 70%;
}

.l-footer__sub {
  margin: 0 50px 0 0;
  flex: 1;
}

.l-footer__logo {
  margin: 0 0 30px 50px;
  width: 150px;
  a {
    @include fs(0, 0);
    display: block;
  }
  svg {
    width: 80px;
    height: auto;
  }
}

.l-footer__links {
  display: flex;
  align-items: center;
  li:not(:last-of-type) {
    margin-right: 20px;
  }
  a {
    @include fs(14, 14);
    display: block;
    color: #fff;
    text-decoration: none;
  }
}

.l-footer__sns {
  display: flex;
  align-items: center;
  li:not(:last-of-type) {
    margin-right: 20px;
  }
  a {
    @include fs(14, 14);
    display: block;
    color: #fff;
    text-decoration: none;
  }
}

.l-footer__copyright {
  @include fs(10, 10);
  padding: 20px 0 30px;
  margin: 0 30px 0;
  color: #fff;
  text-align: center;
}
