<%
  const page = {
    id: 'top',
    class: 'top',
    script: 'top',
    title: 'top title',
    description: 'top description',
    ogp: '',
  }
%>
<%- include( relativePath + '-assets/include/share/_layoutUpper',{page}); -%>
<div class="l-wrapper">
  <!-- ///////// contents start ///////// -->
    <div class="pg-top">
      <!-- lead -->
      <div class="pg-top-lead">
        ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
        abcdefghijklmnopqrstuvwxyz<br>
        あいうえおかきくけこさしすせそ
      </div>
      <!--/ lead -->
      <!-- kv -->
      <div class="pg-top-kv">
        <video 
          class="p-kv__video"
          src="/-assets/movie/_dummy/sample.mp4"
          width="300"
          preload="auto"
          poster="" 
          playsinline
          muted
          loop
          autoplay
        >
        </video>
      </div>
      <!--/ kv  -->
      <!-- react -->
      <div id="app"></div>
      <!--/ react -->
      <!-- swiper -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
      <!--/ swiper -->
    </div>
  <!-- ///////// contents end ///////// -->
</div>
<%- include( relativePath + '-assets/include/share/_layoutUnder',{page}); -%>
