/* ===============================================
# br
=============================================== */

@use '../../global' as *;

.u-br-pc {
  @include pc {
    display: block;
  }
  @include sp {
    display: none;
  }
}

.u-br-sp {
  @include pc {
    display: none;
  }
  @include sp {
    display: block;
  }
}
