@charset "UTF-8";
////////////////////////
// top
////////////////////////

@use '../global' as *;

.pg-top {
  aspect-ratio: 1/2;
}

.pg-top-kv {
  position: relative;
  height: 300px;
  margin-bottom: 100px;
  video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.pg-top-lead {
  @include fs(24, 36);
}

.pg-top-section {
  @include pc {
    margin: 0 80px 100px;
  }
  @include sp {
    margin: 0 20px 50px;
  }
}
